<!-- Start Join Page Area -->
<style>
	.for-join {
		margin: 100px 0px;
	}
	.btn-join {
		width: 200px;
	}
	@media (max-width: 767px){
		.for-join {
			margin: 0px;
		}
		.btn-join {
			margin-bottom: 20px;
		}
	}
</style>
<section class="home-about-area pt-120">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-lg-6 col-md-6 home-about-left for-join">
				<img class="img-fluid" src="images/pages/for-join.jpg" style="border-radius:10px;">
			</div>
			<div class="col-lg-5 col-md-6 home-about-right">
				<h1 class="text-uppercase">Join a Meeting</h1>
				<form action="/meetingRoom" method="post">
				  	<div class="input-group">
					    <input type="text" class="form-control col-md-10" name="meetingId" id="meetingId" placeholder="Enter a Meeting ID" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter a Meeting ID '" required="" type="email">
					    
					    	<div class="info"></div>  
					</div>
					<div class="input-group" style="margin-top: 20px;">
						<h6>Your meeting ID is a 9, 10, or 11-digit number </h6>
					</div>
					<div class="input-group">
						<button type="submit" class="primary-btn text-uppercase btn-join" style="width: 200px;">Join</button>
					</div>
				</form> 
			</div>
		</div>
	</div>	
</section>
<!-- End Join Page Area -->